*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2? family= Archivo+Narrow:ital@1 & display=swap');

body{
    font-family: 'Archivo Narrow', sans-serif;
    margin: 0; 
    background: linear-gradient(to bottom right,#f8c9f0,#e4aaf3,#c7a5ee);
}

h1{ font-size: 2.5em;}
h2 {font-size: 1.50em;}
h3 {font-size: 1em;}
p {font-size: 1.25em;}
li {font-size: 1.25em;}
ul {list-style: none;}

button{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0, 0, .8);
    background-color: #f5d6ea;
    color: rgb(0, 0, 0);
    border: 2px solid #ecbddd;
}

button:hover{
    background-color: #e4a8e0;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    justify-content: center;
    background-color: #f3aae7;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 4em;
    color:rgb(218, 113, 162);
    text-shadow: 2px 1px 0px rgb(41, 20, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline white 10px;
    font-style: oblique;
    font-family: "myfont";
}

header .container{
display: flex;
flex-direction: column;
align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #b90b7f;
}

.nav_link{
    color: black;
    display: inline-block;
    padding: 20px;
}

.nav_link:hover{
    background-color: rgb(255, 205, 243);
}

.active{
    color: rgb(83, 108, 109);
}

.row{
    padding: 10px;
    text-align: center; 
    font-family: "myfonts";
    font-weight: bold;
    color: black;
}

.Procedencia
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border: 0;
    border-radius: 10px;
}
.input
{
    background-color: white;
    border: 0;
    border-radius: 10px;
    text-align: center;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
color: white;
text-shadow:2px 2px 10px #c7a5ee;
text-align: center;
}

#hero button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   #hero button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   #hero button:hover {
    color: #e8e8e8;
   }
   
   #hero button:hover::before {
    width: 100%;
   }

#ropa .container{
    text-align: center;
    padding: 200px 12px;
}

#catalogo{
    background-color: #f5d6ea;
    color: rgb(252, 250, 251);
    text-shadow:2px 2px 10px #8b53cc;
    text-align: center;
}

#catalogo .container{
    padding: 100px 0px;
}

#catalogo p{
    display: none;
}

#catalogo h2{
    margin-top: 0;
    font-size: 2.5em;
}

#catalogo .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 58px;
    margin: 20px;
    border-radius: 15px;
}

#catalogo button{
    font-size: 1em;
    padding: 10px 20px;
}

.carta:first-child{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/bebe.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/niños.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/dama.jpg");
}

.carta:nth-child(4){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/hombre.jpg");
}

.cartas2:first-child{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/deportiva.jpg");
}

.cartas2:nth-child(2){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/vestir.jpg");
}

.cartas2:nth-child(3){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5))
    ,url("img/urbano.jpg");
}

#secciones{
    background-color: #f5d6ea;
    color: rgb(252, 250, 251);
    text-shadow:2px 2px 10px #8b53cc;
    text-align: center;
}

#secciones .container{
    padding: 100px 0px;
}

#secciones p{
    display: none;
}

#secciones h2{
    margin-top: 0;
    font-size: 2.5em;
}

#secciones .cartas2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 58px;
    margin: 20px;
    border-radius: 15px;
}

#secciones button{
    font-size: 1em;
    padding: 10px 20px;
    text-size-adjust: 4em;
}

footer{
background-color: #f5d6ea;
text-align: center;
}


footer .container{
    height: 200px;
}

footer h1{
    font-size: 1em;
    text-align: center;
}

footer h2{
    font-size: 0.50em;
    text-align: center;
}

@media (min-width:720px) {

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
    flex-direction: row;
    justify-content: space-between;
    }

    header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    }

    #catalogo .contenedor-de-cartas{
        display: flex;
        justify-content: center;
    }

    #catalogo p{
        display: block;
        margin-bottom: 30px;
    }

    #catalogo .carta{
        padding: 80px;
    }

    #secciones .contenedor-de-cartas{
        display: flex;
        justify-content: center;
    }

    #secciones p{
        display: block;
        margin-bottom: 30px;
    }

    #secciones .cartas2{
        padding: 80px;
    }
}